html {
    max-width: 1300px;
    margin: 0 auto;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: rgba(0, 0, 0, 0.9);
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.nav-container {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    opacity: 0.9;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.nav-logo {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 10px;
}
.nav-links {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
ul {
    display: flex;
    list-style: none;
}
li {
    padding: 10px;
}
a {
    color: seashell;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.mission-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    max-width: 1200px;
    background-image: url(./photos/img-mission-background.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto; 
}
.mission-banner {
    text-align: center;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    margin: 0 auto; 
}
.tea-of-month-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
}
.menu-images-container {
    display: flex;
    width: 100em;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.menu-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.locations-page-container {
    display: flex;
    margin-top: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    background-image: url(./photos/img-locations-background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
}
.location-info-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   margin-top: 15px;
   margin-bottom: 40px;
}
.location {
    background-color: black;
    height: 300px;
    width: 300px;
    align-items: center;
    align-content: center;
}
.contact {
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    width: 85%;
    justify-content: center;
    margin-top: 2rem;
    line-height: .2rem;
}
footer {
    display: flex;
    text-align: left;
    width: 95%;
    gap: 10px;
}